<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>VUE</title>
    <meta name="description" content="VUE">
</head>
<body>
<div id="app">
    <div v-if="this.persons.length > 0">
        <div v-for="person in persons" >
            {{ person.id }}
            <input type="text" v-model:value="person.name"/>
            <button v-on:click="updatePerson(person.id, person.name)">change</button>
        </div>
    </div>
    <div v-else>
        <button v-on:click="fetchPersons()">Get all persons</button> 
    </div>
    <div> {{ status }} </div>
    <div>{{ error }}</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    let app = new Vue({
        el: '#app',
        data: {
            persons: [],
            error: '',
            status : ''
        },
        methods: {
            fetchPersons: function () {
                this.status="";
                this.error="";
                let url = 'http://localhost:3000/persons/';
                this.persons=[];
                fetch(url)
                    .then((response) => {
                        if (response.status == 200) {
                            return response.json();
                        } else {
                            throw `error with status ${response.status}`;
                        }
                    })
                    .then((persons) => {
                        this.persons = persons;
                    })
                    .catch((error) => {
                         this.error = error;
                    });
            },
            updatePerson: function (id,name) {
                  this.status="";
                  this.error="";
                  let url = 'http://localhost:3000/persons/';
                  let person = {name: name};
                  fetch(url + id,  
                     {
                         method: "PUT",
                         body: JSON.stringify(person),
                         headers: {
                             'Accept': 'application/json',
                             'Content-Type': 'application/json'
                     }
                  })
                  .then((response) => {
                       if (response.status == 200 || response.status == 201) {
                           return response.json();
                       } else {
                           throw `error with status ${response.status}`;
                       }
                  })
                  .then((person) => {
                      this.status=`updated ${person.id} ${person.name}`;
                  })
                  .catch((error) => {
                         this.error = error;
                  });
            }
        }
    });
</script>
</body>
</html>
